@font-face {
    font-family: BlackChancery;
    src: url(../Frontend/BLKCHCRY.TTF);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(88,88,88);
    overflow: hidden;
}

.header {
    position: relative;
    width: 100vw; /* Width of the rectangle */
    height: 10vh; /* Height of the rectangle */
    background-color: grey; /* Background color of the rectangle */
    /* border-radius: 10px; */
}

.Container {
    position: relative;
    width: 100%; /* Width of the rectangle */
    height: 90vh; /* Height of the rectangle */
    display: flex;
    flex-direction: row;
}

.Container_Side_Bar {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: rgb(151, 149, 149);
    display: flex;
    flex-direction: column;
}

.Container_Middle_Bar {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: rgb(102, 102, 102);
    overflow: hidden;
}

.Recent_Games {
    position: relative;
    width: 26%;
    height: 200px;
    background-color: rgb(102, 102, 102);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    border-radius: 20px;

    top: -550px;
    left: 10px;
}

.Performance {
    position: relative;
    width: 26%;
    height: 260px;
    background-color: rgb(106, 86, 86);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    border-radius: 20px;

    top: -500px;
    left: 10px;
}

.Leaderboard {
    position: relative;
    width: 26%;
    height: 515px;
    background-color: rgb(106, 86, 86);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    border-radius: 10px;
    top: -100px;
    left: 100px; 
}

.Game_Modes {
    position: relative;
    width: 100%; /* Width of the rectangle */
    height: 10%; /* Height of the rectangle */
    display: flex;
    flex-direction: row;
    /* border-radius: 10px; */
    border-style: solid goldpink;
}

.Game_Modes_Button {
    position: relative;
    padding: 1%;
    background-color: rgb(107, 26, 26); /* Button background color */
    color: white; /* Button text color */
    border: none;
    cursor: pointer;
    height: 80%;
    width: 33.3%;
    justify-content: center;
    align-content: center;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}

.Game_Modes_Button h3 {
    position: relative;
     text-align: center;
     width: 100%;
     height: min-content;
     font-size: calc(((1vh+1vw)/2)*2);
     font-family: BlackChancery ;
     /* border: 2px solid red; */
}

 .Play {
    position: relative;
    width: 40%; /* Width of the rectangle */
    height: 10%; /* Height of the rectangle */
    background-color: rgb(66, 182, 221); /* Background color of the rectangle */
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border-style: solid black;
    color:white;
    justify-content: center;
    align-content: center;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    text-wrap: center;
    font-family:BlackChancery;
    margin-left:150px;
    top: 450px;
 }

 .Play h4 {
    position: relative;
    text-align: center;
    width: 100%;
    height: min-content;
    font-size: calc(((1vh+1vw)/2)*2);
    font-family: BlackChancery ;
 }
